.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  padding-top: 45px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons {
  position: relative;
}
.screen-header__icons span {
  margin-left: 20px;
}
.nav__message:last-child {
  position: absolute;
  bottom: 20px;
  right: -10px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 3s linear infinite;
}
